*.pyc
*.Rhistory
*.DS_Store
output/Chp2_scenarios/
output/Chp3_scenarios/
data/cea/
data/ACT-UP/
output/Chp2-figures
output/Chp3-figures
output/Chp2_tables/Chapter 2 - Table 3_counterfactual.xlsx
output/Chp2_tables/Chapter 2 - Table 2_since2020.xlsx
